name: Daily Update List

on:
  schedule:
    - cron: '0 0 * * *' # 每天 UTC 00:00 运行
  workflow_dispatch:

jobs:
  run-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12
          activate-environment: true

      - name: Install dependencies (if any)
        run: uv pip install -r requirements.txt

      - name: Run main.py
        run: python main.py